@font-face {
    font-family: FrancoisOne;
    src: url('fonts/FrancoisOne-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: FrancoisOne;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 30px;
    background-color: midnightblue;
}

.leftContainer {
    background-color: saddlebrown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 50px;
    color: white;
    border: 20px ridge gold;
    border-radius: 40px;
}

.cookieRays {
    position: absolute;
    width: 25%;
    margin-top: 60px;
    animation: raysAnimation infinite 20s linear;
    opacity: 60%;
}

@keyframes raysAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cookieButton {
    position: absolute;
    margin-top: 225px;
    margin-bottom: 100px;
    width: 13%;
    padding: 0;
    background-color: transparent;
    border: transparent;
    transition: 50ms ease-in-out;
}

.cookieButton:active {
    position: absolute;
    width: 11%;
}

h1 {
    margin-bottom: 25px;
    font-family: FrancoisOne;
    font-size: 58px;
    color: gold;
}

.rightContainer {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    background-color: saddlebrown;
    border: 20px ridge gold;
    border-radius: 40px;
    margin: 5%;
    padding: 5% 10%;
}

.shopSpacing {
    margin: 7% 0;
}

h2 {
    font-size: 36px;
    color: gold;
}

h3, p {
    color: white;
}

.rightContainer button {
    border-color: gold;
    margin: 1.5%;
    line-height: 150%;
    padding: 0 3ch;
    text-align: center;
    font-size: 0.9vw;
    font-family: Ubuntu;
    color: azure;
    background-color: gold;
    text-shadow: 2px 2px 2px #633d00;
    border-radius: 1ch;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0.2)
    );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px -3px #633d00;
}